.content {
  max-width: 1340px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3em auto;
  padding: 1em;
}

.form, .main-content {
  width: 49%;
}

.form {
  display: flex;
  flex-direction: column;
}

.categories{
  margin-bottom: 1em;
}

.form-input {
  border: 1px solid #ddd;
  background-color: #ddd;
  margin-bottom: 1em;
}

.form-note {
  resize: none;
}

.categories, 
.form-input, 
.form-note {

  width: 400px;
  padding: .5em;
  box-sizing: border-box;
}

.button-group {
  width: 400px;
}


.form-button {
  display: block;
  border: 1px solid #ddd;
  background-color: green;
  text-transform: uppercase;
  width: max-content;
  padding: .5em 2em;
  border-radius: 4px;
  font-weight: bold;
  margin: 2em 0 0 auto;
}

.form-button:focus,
.form-button:hover {
  background-color: darkgreen;
}

.categories-container,
.categories-list {
  display: flex;
}

.categories-item {
  margin-left: 2ch;
  background-color: #ddd;
  padding: .5em;
  border-radius: 10px;
}

.category-input {
  margin-left: 2ch;
}

.list {
  margin-top: 3em;
  padding-top: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.list-item {
  margin: 0 1em;
}

.card-note {
  position: relative;
  padding: 1em;
  background-color: #ddd;
  width: 200px;
  height: max-content;
  margin: .5em 0;
  border-radius: 4px;
}

.delete-icon{
  position: absolute;
  top: 9px;
  right: 2%;
}

.card-title {
  margin: 0 0 .5em 0;
}

.card-text  {
  margin: 0;
  word-wrap: break-word;
  line-height: 2.5ch;
}

.category-text {
  font-size: .9em;
  background-color: cadetblue;
  padding: .3em;
  width: max-content;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 1em;
}